.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 15px;
    background-color: var(--card-color);
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px var(--background-color);
    border-radius: 30px;
}

.card-container h1{
    margin-bottom: 40px;
    font-size: 3em;
    font-family: var(--font-family-title);
    color: var(--title-color);
}

.card-container p{
    font-size: 1.5em;
    font-family: var(--font-family-title);
    color: var(--text-color);
    margin-bottom: 20px;
}
.card{
    font-size: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card>*>*{
    font-family: var(--font-family);
    margin: 20px;
}