footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--sub-background-color);
    padding: 50px;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
}

footer ul li {
    margin: 20px;
    transition: .5s;
}

footer ul li a {
    text-decoration: none;
    color: var(--header-color);
    font-size: 1.5em;
    font-family: var(--font-family-title);
    transition: .5s;
    background-image: url('./Git.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    padding-left: 40px;
}

footer ul li:hover a {
    font-size: 2em;
    /* Put a mask of a degradated */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}